/*General rules*/
.notfilled{
    border: 1px solid red !important;
}
.clearer {
    clear: both;
}
.hidden{
    display: none;
}
.btn{
    border-radius: 0px;
}
.btn-group .btn.gotrue.active{
    background: palegreen;
}
.panel{
    margin-top: 20px;
}
div.row.bottongroups{
    line-height: 60px;
}
div.row.abbassatitoli:nth-last-child, div.row.bottongroups:nth-last-child(1){
    border-bottom: 1px solid #ddd;
}
div.row.bottongroups div:nth-last-child(1){
    text-align: right;
}
div.row.abbassatitoli, div.row.bottongroups{
    border-top: 1px solid #ddd;
}
div.row.abbassatitoli .titolo{
    line-height: 75px;
}
div.row.abbassatitoli .form-group, div.row.bottongroups .form-group{
    margin: 10px 0px;
}
div.row.abbassatitoli:nth-child(even), div.row.bottongroups:nth-child(even){
    background-color: #ececec;
}
div.modal-body.listabox{
    padding: 10px;
}
div.modal-body.listabox div.style-scope{
    padding: 5px;
}
div.inline-days div.style-scope{
    display:inline-block;
    margin-right:10px;
}
/*Stile generale bottoni e liste*/
input[type="checkbox"] + label, .key-value li input[type="checkbox"] + span:first-of-type, input[type="radio"] + label, .key-value li input[type="radio"] + span:first-of-type{
    font-size: 1.1em !important;
}
.actions-icon{
    font-size: 30px;
    margin-top: 20px;
    text-align: right;
}
.actions-icon:hover{
    cursor: pointer;
}
.save-icon:hover span, .success{
    color: green;
}
.delete-icon:hover span, .errormsg{
    color: red;
}
.list-group li{
    list-style: none;
}
.panel-success{
    padding: 10px;
}
.panel-success.success{
    background-color: palegreen;
}
.final-actions{
	margin: 20px auto 20px auto;
    min-height: 35px;
    clear: both;
}
.final-actions.final-navigation{
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.container .maincontent{
	margin-bottom: 50px;
}
/*Loader*/
.loadingclab{
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    z-index:1000;
}
.loadingclabbackground, html body .spinner-overlay{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: block;
    top: 0px;
    text-align: center;
}
html body .spinner-overlay .spinner{
    position: relative;
    top: 40%;
    display: block;
    margin: auto;
}
.spinner{
    display: inline-block;
    position: relative;
    top: 8px;
}
/*Home content*/
.home-content, .centered{
    text-align: center;
}
/*Navbar*/
.navbar-default{
    max-height: 50px;
}
.navbar-collapse {
    text-align: center;
}
.navbar-collapse.in {
    background: rgb(248, 248, 248);
}
/*Preview*/
.preview-content ul.htmlblocks{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.preview-content ul.htmlblocks li.block{
    padding: 10px;
    margin: 0 0 15px;
    text-align: center;
    background-color: #ccc;
	vertical-align: middle;
}
.preview-content ul.htmlblocks li.block.default, .preview-content ul.htmlblocks li.block:nth-last-child(1){
    margin: 0px;
}
.preview-content ul.htmlblocks li.block.slide {
}
.preview-content ul.htmlblocks li.block p{
    margin-bottom: 5px;
    padding-bottom: 0px;
}
/*.preview-content ul li.slide:hover {
    background-color: #cfcfcf;
	cursor:all-scroll;
}*/

.preview-content .slide-placeholder {
    background: #DADADA;
    position: relative;
}
.preview-content .slide-placeholder:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: transparent;
}
.preview-content .default{
	color: #999;
	background-color: #ccc;
}
.preview-content .headline {
    min-height: 60px;
}
.preview-content .partenze {
    min-height: 100px;
}
.preview-content .jolly {
    min-height: 60px;
}
.preview-content .people {
    min-height: 40px;
}
.preview-content .voucher {
    min-height: 40px;
}
.preview-content ul li{
    padding: 5px;
    margin: 0px;
}
/*Responsive*/
@media (min-width:991px){
    .ordine_sorting{
        top: 18px;
    }
}