<script type="text/template" id="availability-template">
    <div class="maincontent availability-content">
        <div class="content">
            <div class="page-header">
                <h1>Soglia disponibilità partenze</h1>
			</div>
			<div class="row">
				<% _.each(data.dimensions.price, function(pricedimension) { %>
					<div class="col-md-3">
                        <b><%= pricedimension.label %></b>
					</div>
					<div class="col-md-4 form-group">
                        <label>Mostra messaggio se disponibilità inferiore a: </label>
						<input class="form-control" type="number" value="20" />
					</div>
					<div class="col-md-5 form-group">
                        <label>Messaggio: </label>
						<input class="form-control" type="text" value="Affrettati! Pochi posti disponibili!" />
					</div>
				<% }) %>
			</div>
        </div>
        <div class="final-actions save">
            <button class="btn btn-default save-btn pull-right">Salva Impostazioni</button>
        </div>
        <div class="final-actions final-navigation">
            <button class="btn btn-default back-btn">Indietro</button>
            <button class="btn btn-default next-btn pull-right">Avanti</button>
        </div>
    </div>
</script>