<script type="text/template" id="limitnumber-template">
    <div class="limitnumber-content">
        <div class="page-header">
            <h1>Numero di partenze per newsletter <small>a seconda della tipologia di utente</small></h1>
        </div>
        <div class="choose_tupla row">
            <% _.each(data.dimensions, function(value, key) { %>
            <div class="form-group col-md-4">
                <label for="number_<%= key %>">
                    <%= key.charAt(0).toUpperCase() + key.slice(1) %>:
                </label>
                <select class="form-control" id="number_<%= key %>" name="<%= key %>">
                    <% _.each(value, function(declination) { %>
                        <option value="<%= declination.slug %>"><%= declination.label %></option>
                    <% }) %>
                </select>
            </div>
            <% }) %>
            <div class="col-md-4 form-group">
                <label>Numero di partenze: </label>
                <input id="number_text" type="text" class="form-control" />
            </div>
        </div>
        <div class="number_saved">
            <div class="row">
                <div class="col-md-5 form-group">
                    <span class="errormsg"></span>
                </div>
                <div class="col-md-6 form-group">
                    &nbsp;
                </div>
                <div class="col-md-1 actions-icon save-icon">
                    <span class="glyphicon glyphicon-plus" alt="Save setting" title="Save setting" aria-hidden="true"></span>
                </div>
            </div>
            <h3>Impostazioni salvate:</h3>
            <% _.each(data.settings, function(value, key) { %>
                <div class="row">
                    <div class="col-md-8 form-group">
                        <label>Dimensioni: </label>
                        <input class="form-control" disabled value="<%= value.tupla %>" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Numero di partenze: </label>
                        <input class="form-control" disabled value="<%= value.number %>" />
                    </div>
                    <div class="col-md-1 actions-icon delete-icon">
                        <span class="glyphicon glyphicon-trash" alt="Delete setting" title="Delete setting" aria-hidden="true"></span>
                    </div>
                </div>
            <% }) %>
        </div>
        <button class="btn btn-default save-btn">Salva</button>
    </div>
    <br /><br />
    <div class="breadcrumb centered"><a data-page="home" class="openpage" href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a></div>
</script>