<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Contactlab Mockup Showcase</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active home-nav"><a data-page="home" class="openpage" href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demo <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <% _.each(data.navbar.section, function(value, key) { %>
                            <li><a data-page="<%= value.datapage %>" class="openpage" href="#"><%= value.label %></a></li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a data-page="home" class="openpage" style="padding: 5px" href="#"><img style="max-height: 40px;" src="img/<%= data.navbar.logo %>" /></a></li>
            </ul>
        </div>
    </div>
</nav>