<script type="text/template" id="preview-template">
    <div class="maincontent preview-content">
        <div class="page-header">
            <h1>Anteprima della spedizione</h1>
        </div>
		<div class="content">	
			<div class="row">
				<% _.each(data.dimensions, function(value, key) { %>
					<div class="form-group col-md-6">
						<label for="preview_<%= key %>">
							<%= key.charAt(0).toUpperCase() + key.slice(1) %>:
						</label>
						<select class="form-control" id="preview_<%= key %>" name="<%= key %>">
							<option value="" disabled selected>Seleziona un cluster</option>
							<% _.each(value, function(declination) { %>
								<option value="<%= declination.slug %>"><%= declination.label %></option>
							<% }) %>
						</select>
					</div>
				<% }) %>
			</div>
			<div class="loadedsettings">
				
			</div>
		</div>
        <!--<div class="final-actions save">
            <button class="btn btn-default save-btn pull-right">Salva Impostazioni</button>
        </div>-->
        <div class="final-actions final-navigation">
            <button class="btn btn-default back-btn">Indietro</button>
            <button class="btn btn-default next-btn pull-right">Avanti</button>
        </div>
    </div>
</script>

<script type="text/template" id="previewdata-template">
	<p>
		<% if (dati.subject.jolly != ''){ %>
			Subject jolly configurato: <a href="#"><%= dati.subject.jolly %></a>.
		<% }else{ %>
			Nessun subject jolly per questa combinazione.
		<% } %>
	</p>
	<div class="newsletter">
		<ul class="">
			<li class="default">
				Header
			</li>
		</ul>
		<br />
		<ul class="">
			<% if (dati.headline.enabled == 'true') { %>
				<li class="slide headline">
					<b>Headline</b>
					<% if (dati.headline.enabled == 'jolly'){ %>
						Headline jolly configurato: <a href="#"><%= dati.headline.jolly %></a>.
					<% }else{ %>
						Nessun headline jolly per questa combinazione.
					<% } %>
				</li>
			<% } %>
			<li class="slide voucher">
				<b>Box Voucher</b>
			</li>
			<li class="slide jolly">
				<b>Box Partenze Jolly</b>
				<p>Partenze jolly: <a href="#">15</a>, <a href="#">25</a>, <a href="#">39</a>
				</p>
			</li>
			<li class="slide partenze">
				<b>Box Partenze</b>
				<p>Partenze ordinate per <b>ranking</b>
				</p>
			</li>
			<li class="slide people">
				<b>Box People</b>
				<p><span class="success">Attivo</span> per <b>Family with kids (0-12 yo)</b>, <b>Family with kids (12+ yo)</b>, <b>In groups</b></p>
			</li>
		</ul>
		<br />
		<ul class="">
			<li class="default">
				Footer
			</li>
		</ul>
	</div>
</script>