<script type="text/template" id="sorting-template">
    <div class="maincontent sorting-content">
        <div class="page-header">
            <h1>Sorting Departures</h1>
        </div>

        <% _.each(data.dimensions.price, function(pricedimension) { %>
            <div class="row">
                <div class="col-md-3">
                    <b><%= pricedimension.label %></b>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="criterio_sorting">Ordina per: </label>
                        <select class="form-control" id="criterio_sorting">
                            <option value="ranking" selected>Ranking (default)</option>
                            <option value="prezzo">Prezzo</option>
                            <option value="availability">Disponibilità dell'offerta</option>
                            <option value="date">Data di partenza</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 pull-right">
                    <div class="btn-group form-group ordine_sorting pull-right" data-toggle="buttons">
                        <label class="btn btn-default gotrue active">
                            <input type="radio" name="options" id="asc_sorting" autocomplete="off" checked> Asc
                        </label>
                        <label class="btn btn-default gotrue">
                            <input type="radio" name="options" id="desc_sorting" autocomplete="off"> Desc
                        </label>
                    </div>
                </div>
            </div>
        <% }) %>
        <div class="final-actions save">
            <button class="btn btn-default save-btn pull-right">Salva Impostazioni</button>
        </div>
        <div class="final-actions final-navigation">
            <button class="btn btn-default back-btn">Indietro</button>
            <button class="btn btn-default next-btn pull-right">Avanti</button>
        </div>
    </div>
</script>