<script type="text/template" id="subject-template">
    <div class="subject-content">
        <div class="page-header">
            <h1>Subject Settings</h1>
        </div>
        <div class="content">
            <h3>Configura un nuovo subject:</h3>
            <div class="choose_tupla row">
                <% _.each(data.dimensions, function(value, key) { %>
                <div class="form-group col-md-3">
                    <label for="subject_<%= key %>">
                        <%= key.charAt(0).toUpperCase() + key.slice(1) %>:
                    </label>
                    <select class="form-control" id="subject_<%= key %>" name="<%= key %>">
                        <% _.each(value, function(declination) { %>
                        <option value="<%= declination.slug %>"><%= declination.label %></option>
                        <% }) %>
                    </select>
                </div>
                <% }) %>
                <div class="col-md-6 form-group">
                    <label>Subject: </label>
                    <input id="subject_text" type="text" class="form-control" />
                </div>
            </div>
            <div class="subjects_saved">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <span class="errormsg"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        &nbsp;
                    </div>
                    <div class="col-md-1 actions-icon save-icon">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </div>
                </div>
                <h3>Subjects configurati:</h3>
                <% _.each(data.settings, function(value, key) { %>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Dimensione: </label>
                        <input class="form-control" disabled value="<%= value.tupla %>" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Subject: </label>
                        <input class="form-control" disabled value="<%= value.subject %>" />
                    </div>
                    <div class="col-md-1 actions-icon delete-icon">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <button class="btn btn-default save-btn">Salva</button>
    </div>
    <br /><br />
    <div class="breadcrumb centered"><a data-page="home" class="openpage" href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a></div>
</script>